.form {
    padding: 24px;
    border: 1px solid var(--gray-light);
    border-radius: 10px;
  
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  
  .title {
    font-size: 20px;
    font-weight: 600;
  }
  
  .subtitle {
    font-size: 14px;
    color: var(--gray);
    /* margin-bottom: 8px; */
  }
  
  .input,
  .textarea {
    height: 48px;
    padding: 0 16px;
    border-radius: 10px;
    border: 1px solid var(--gray-light);
    background: var(--inputs);
    font-size: 16px;
  }
  
  .textarea {
    height: 90px;
    padding-top: 12px;
    resize: none;
  }
  
  .button {
    margin-top: 12px;
    align-self: center;
    border-radius: 200px;
    padding: 16px 60px;
    width: 166px;
    height: 56px;
    font-family: var(--font-family);
    background: var(--button);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
    border: none;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active,
  .button:focus {
    background: var(--button-hover);
  }