.loader {
    width: 48px;
    height: 48px;
  
    border-radius: 50%;
    border: 4px solid var(--gray-light);
    border-top-color: var(--button);
  
    animation: spin 0.8s linear infinite;
    margin: 32px auto;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
   