
  .hero {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    height: 696px;
    position: relative;
  }
  

.image {
  object-fit: cover; 
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45); 
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 64px;
  color: white;
  max-width: 600px;
}

.content h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  color: var(--inputs);
  margin-bottom: 16px;
}

.content p {
  font-size: 18px;
  margin-bottom: 32px;
  font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 133%;
color: var(--inputs);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--button);
  color: var(--white);

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-decoration: none;
  cursor: pointer;

  border-radius: 200px;
  padding: 16px 60px;
  width: 120px;
  height: 30px;
  margin-top: 40px;
}
