.catalog {
    max-width: 1440px;
    margin: 0 auto;
    padding: 48px 64px;
  
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 64px;
  }
  
  .filters {
    position: sticky;
    top: 96px;
    align-self: start;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .loadMore {
    align-self: center;
    margin-top: 32px;
  
    border: 1px solid var(--gray-light);
    border-radius: 200px;
    padding: 16px 32px;
    width: 145px;
    height: 56px;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--main);
  }
  
  .loadMore:hover,
  .loadMore:active,
  .loadMore:focus {
    border: 1px solid var(--button-hover);
  }