.card {
    display: grid;
    grid-template-columns: 292px 1fr;
    gap: 24px;
  
    padding: 24px;
    background: var(--white);
    border-radius: 20px;
    border: 1px solid var(--gray-light);
  }
  
  .image {
    width: 292px;
    height: 320px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    font-size: 20px;
    font-weight: 600;
  }
  
  .price {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
  }
  
  .meta {
    font-size: 14px;
    color: var(--gray);
    display: flex;
    gap: 16px;
  }
  
  .description {
  
    color: var(--text);
    display: -webkit-box;
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--text);
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  }
  
  .features {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
  }
  
  .features li {
    padding: 6px 12px;
    background: var(--badges);
    border-radius: 100px;
    font-size: 14px;
  }
  
  .button {
    align-self: flex-start;
  
    height: 44px;
    padding: 0 32px;
    border-radius: 200px;
  
    background: var(--button);
    color: var(--white);
    border: none;
    cursor: pointer;
  }
  
  .heart {
    color: var(--gray);
  }
  
  .heartActive {
    color: var(--button);
  }
  
  .heart,
.heartActive {
  width: 26px;
  height: 24px;
  display: inline-block;
}

.heart svg,
.heartActive svg {
  pointer-events: none;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-left: 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 12px;
  border-radius: 100px;
  background: var(--badges);
  mix-blend-mode: multiply;
  font-size: 14px;
  font-weight: 500;
  color: #101828;
}

.icon {
  fill: currentColor;
}
  