.card {
    display: grid;
    grid-template-columns: 292px 1fr;
    gap: 24px;
  
    padding: 24px;
    background: var(--white);
    border-radius: 20px;
    border: 1px solid var(--gray-light);
  }
  
  .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    font-size: 20px;
    font-weight: 600;
  }
  
  .price {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
  }
  
  .meta {
    margin: 8px 0;
    font-size: 14px;
    color: var(--gray);
    display: flex;
    gap: 16px;
  }
  
  .description {
    margin: 12px 0;
    color: var(--text);
  }
  
  .features {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
  }
  
  .features li {
    padding: 6px 12px;
    background: var(--badges);
    border-radius: 100px;
    font-size: 14px;
  }
  
  .button {
    align-self: flex-start;
  
    height: 44px;
    padding: 0 32px;
    border-radius: 200px;
  
    background: var(--button);
    color: var(--white);
    border: none;
    cursor: pointer;
  }
  
  .heart {
    color: var(--gray);
  }
  
  .heartActive {
    color: var(--button);
  }
  
  .heart,
.heartActive {
  width: 26px;
  height: 24px;
  display: inline-block;
}

.heart svg,
.heartActive svg {
  pointer-events: none;
}

  